@keyframes toast-in {
  from {
    transform: translateY(100%) scale(0.9);
    opacity: 0;
  }

  to {
    transform: translateY(0) scale(1);
    opacity: 1;
  }
}

@keyframes toast-out {
  from {
    transform: translateY(0) scale(1);
    opacity: 1;
  }

  to {
    transform: translateY(100%) scale(0.9);
    opacity: 0;
  }
}

.animate-toast-in {
  animation: toast-in 0.4s cubic-bezier(0.16, 1, 0.3, 1) forwards;
}

.animate-toast-out {
  animation: toast-out 0.4s cubic-bezier(0.16, 1, 0.3, 1) forwards;
}

@keyframes toast-progress {
  from {
    width: 100%;
  }

  to {
    width: 0%;
  }
}

.toast-progress-bar {
  animation: toast-progress 3.5s linear forwards;
}

.toast-progress-bar-paused {
  animation-play-state: paused;
}